:root{
    --result-horizontal-margin: 20px;
}

body{
    background-color:  rgb(238, 238, 191);
    min-height: 100vh;
}

h1, h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.task{
    font-style: italic;
    margin-top: 30px;
}

 li::marker { 
    font-weight: bold;
}

.result{
    margin: 10px var(--result-horizontal-margin);
}

.result a{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

.task li::marker{
    font-weight: normal;
}


body > ol{
    background: linear-gradient(180deg, rgba(238,238,191,1) 0%, rgba(255,248,220,1) 100%);
    padding-bottom: 20px;
}

.screenshot{
    display: flex;
    gap: 8px;
    margin: 8px 0px;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}