:root{
    --square-max-dimention: 70px;
    --square-dimention: 12vw;
  }
  
  .chess-desk{
    margin: 20px;
  }
  
  .chess-row{
    display: flex;  
  }
  
  .chess-square{
    /*display: inline-block;*/
    max-width: var(--square-max-dimention);
    max-height: var(--square-max-dimention);
    width: var(--square-dimention);
    height: var(--square-dimention);
  }
  
  .black-square{
    background-color: #202020;
  }
  
  .white-square{
    background-color: #D0D0D0;
  }
  
  