body{
    background-color: beige;
    min-height: 100vh;
}

h1, h3{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task{
    font-style: italic;
    margin-top: 30px;
}

 li::marker { 
    font-weight: bold;
}

.result{
    margin: 10px 20px;
}

.task li::marker{
    font-weight: normal;
}